<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>476589763006-nhhj935kqtvf00b71kkm50tllr27tv2l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476589763006-nhhj935kqtvf00b71kkm50tllr27tv2l</string>
	<key>API_KEY</key>
	<string>AIzaSyDNNRW9nIrZNzz-XWJW_MHbKRj056qn6ig</string>
	<key>GCM_SENDER_ID</key>
	<string>476589763006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>insightCell.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-insightcell</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-insightcell.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476589763006:ios:a254e3c339dbeee6</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-insightcell.firebaseio.com</string>
</dict>
</plist>